html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
}

.container{
  width: 1140px;
  margin: 0 auto;
}

/* Header styles */
.header{
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 10px;
}

.header__brand-image{
  width: 100px;
}

.main-navigation__items{
  display: flex;
  align-items: center;
}

.main-navigation__item{
  list-style: none;
  padding: 5px 10px;
}
.main-navigation__item a{
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

/* Main styles */
.main-banner{
  display: flex;
  padding: 50px 10px;
}

.main-banner__info{
  width: 506px;
}

.main-section__welcome{
  color: #21243D;
  font-size: 44px;
  line-height: 60px;
}

.main-section__introduction{
  color: #21243D;
  font-size: 16px;
  line-height: 23px;
}

.button{
  background-color: #FF6464;
  color: #FFF;
  border: none;
  width: 208px;
  height: 47px;
  border-radius: 2px;
  padding: 10px 0px;
  font-size: 20px;
  margin-top: 15px;
  cursor: pointer;
}

.button:hover{
  background-color: #FF2233;
}

.main-section__image{
  margin-top: 40px;
  margin-left: 250px;
}

.main-section__image img{
  border-radius: 50%;
  box-shadow: -10px 10px 0px 0px #EDF7FA;
}