@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

:root{
  --heebo: 'Heebo', sans-serif;
  --darkColor: #21243D;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  font-family: var(--heebo);
  box-sizing: border-box;
}

.container{
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* Header styles */
.header-1{
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 10px;
}

.header__brand-image{
  width: 100px;
}

.main-navigation__items{
  display: flex;
  align-items: center;
}

.main-navigation__item{
  list-style: none;
  padding: 5px 15px;
}

.main-navigation__item a{
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  transition: .5s all ease;
}

.main-navigation i{
  display: none;
}

.main-navigation__item a:hover{
  color: #00b9f1;
}

/* Main styles */
.banner{
  display: flex;
  padding: 50px 10px;
}

.main-banner__info{
  width: 506px;
}

.main-section__welcome{
  color: #21243D;
  font-size: 44px;
  line-height: 60px;
}

.main-section__introduction{
  color: #21243D;
  font-size: 16px;
  line-height: 23px;
}

.button{
  background-color: #FF6464;
  color: #FFF;
  border: none;
  width: 208px;
  height: 47px;
  border-radius: 2px;
  padding: 10px 0px;
  font-size: 20px;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.button:hover{
  background-color: #FF2233;
}

.main-section__image{
  margin-top: 40px;
  margin-left: 250px;
}

.main-section__image img{
  border-radius: 50%;
  box-shadow: -10px 10px 0px 0px #EDF7FA;
}
/* /Main styles */

/* Post styles */
  .post{
    background-color: #EDF7FA;
    padding: 30px 0;
  }
  .post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .post__subtitle{
    font-weight: 400;
    font-size: 22px;
    color: #21243D;
  }

  .post-header a{
    color: #00A8CC;
    text-decoration: none;
    font-size: 16px;
  }

  .post-cards{
    display: flex;
    justify-content: space-between;
  }

  .post-card{
    width: 43%;
    background-color: #fff;
    padding: 27px;
  }

  .post-card__title{
    font-size: 26px;
    font-weight: bold;
    line-height: 38px;
    color: var(--darkColor);
  }

  .post-card__date, .post-card__info{
    font-size: 18px;
  }

  .post-card__date{
    padding-right: 40px;
    border-right: 1px solid black;
  }

  .post-card__info{
    padding-left: 40px;
  }

  .post-card__text{
    font-size: 16px;
    line-height: 23px;
  }

/* /Post styles */

/* Feature styles */
.features {
  padding: 20px 0;
}

.features__subtitle{
  font-weight: 400;
  font-size: 22px;
  color: #21243D;
}

.features-card{
  padding: 20px 0px;
  display: flex;
  border-bottom: 1px solid #E0E0E0;
}

.features-card img{
  width: 250px;
}

.features-card__info{
  padding: 0 25px;
}

.features-card__title{
  font-size: 30px;
  line-height: 44px;
  font-weight: bold;
  color: var(--darkColor);
  margin: 0;
  margin-bottom: 20px;
}
.features-card__year{
  background: #142850;
  color: #fff;
  padding: 1px 10px;
  border-radius: 16px;
}

.features-card__type{
  color: #8695A4;
  font-size: 20px;
  margin-left: 25px;
}

.features-card__text{
  font-size: 16px;
  line-height: 23,5px;
  font-weight: 400;
}

/* Footer styles */
  .footer{
    margin-top: 50px;
    text-align: center;
    padding: 50px 0;
  }

  .footer-socials__items{
    display: flex;
    justify-content: center;
  }

  .footer-socials__item{
    list-style: none;
    margin-right: 35px;
  }

  .footer-socials__link{
    text-decoration: none;
    color: #000;
    transition: .5s all ease;
  }

  .footer-socials__link:hover{
    color: #00b9f1;
  }

  .footer-socials__link i{
    font-size: 30px;
  }

  .footer-socials__info{
    font-size: 14px;
  }

/* /Footer styles */
@media only screen and (max-width:800px){
  .main-navigation__items{
    display: none;
  }
  .main-navigation i{
    display: block;
    font-size: 48px;
  }
  .banner{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .main-section__image{
    margin: 0;
  }
  .main-banner__info{
    width: 95%;
  }
  .post-cards{
    display: flex;
    flex-direction: column;
  }
  .post-card{
    width: 90%;
    margin-bottom: 20px;
  }
  .post-header{
    display: block;
    text-align: center;
  }
  .post-header a{
    display: none;
  }
  .features__subtitle{
    text-align: center;
  }
  .features-card{
    display: block;
  }
  .features-card img{
    width: 100%;
  }
}